<div class="panel panel-info">
    <div class="panel-heading">Placement Information</div>
    <div class="panel-body">
    	<div class="form-row">
    	<%= "Placement status:  #{std.placement_status}" %>
    	</div>
    	<div class="form-row">
    	<%= "Placed in:  #{std.placed_in}" %>
    	</div>
    	<div class="form-row">
    	<%= "Salary package in lakhs:  #{std.sal_package_in_lakhs}" %>
    	</div>
    </div>
	</div>
</div>