/* line 2, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
body {
  padding-top: 50px;
}

/* line 4, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
#myCarousel .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: none;
}

/* line 14, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
#myCarousel .list-group {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 19, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
#myCarousel .list-group-item {
  border-radius: 0px;
  cursor: pointer;
}

/* line 23, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
#myCarousel .list-group .active {
  background-color: #eee;
}

@media (min-width: 992px) {
  /* line 28, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
  #myCarousel {
    padding-right: 33.3333%;
  }

  /* line 29, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
  #myCarousel .carousel-controls {
    display: none;
  }
}
@media (max-width: 991px) {
  /* line 32, C:/Users/Hemanth/Documents/Hemanth/app/assets/stylesheets/news.scss */
  .carousel-caption p,
  #myCarousel .list-group {
    display: none;
  }
}
