<div>
 <a id="touch-menu" class="mobile-menu" href="#"><i class="icon-reorder"></i>Menu</a> <%# fix mobile menu %>
  <nav>
    <ul class="menu">
       <li><a href="/"><i class="icon-home"></i>HOME</a>
       </li>
      <li><a  href="/news/info"><i class="icon-bullhorn"></i>NEWS</a></li>
      <li><a  href="/workshops/info"><i class="icon-bullhorn"></i>WORKSHOPS</a></li>
      <li><a  href="/students/details"><i class="icon-user"></i>STUDENT INFORMATION</a></li>
      <li><a  href="/admin"><i class="icon-camera"></i>ADMIN CONTROLS</a>
      <ul class="sub-menu">
       <li><a href="/students">Menu 1</a></li>
       <li><a href="/admin/reports/">Students List</a>
        <ul>
        <li><a href="/students/details">View Student Info</a></li>
        <li><a href="/students">View Students List</a></li>
      <li><a href="/admin/reports/update">Update Students List</a></li>
        </ul>
       </li>
       </ul>
      </li>

      <li><a  href="#"><i class="icon-bullhorn"></i>DEVELOPER'S BLOG</a></li>
      <li><a  href="#"><i class="icon-envelope-alt"></i>CONTACT</a></li>
    </ul>
  </nav>
  
        
 </div><!--end mainWrap-->
 