<div>
 <a id="touch-menu" class="mobile-menu" href="#"><i class="icon-reorder"></i>Menu</a> <%# fix mobile menu %>
  <nav>
    <ul class="menu">
       <li><a href="/"><i class="icon-home"></i>HOME</a>
       </li>
      <li><a  href="/news/info"><i class="icon-bullhorn"></i>NEWS</a></li>
      <li><a  href="/workshops/info"><i class="icon-bullhorn"></i>WORKSHOPS</a></li>
      <li><a  href="/students/details"><i class="icon-user"></i>STUDENT INFORMATION</a></li>
      <li><a  href="/admin"><i class="icon-camera"></i>ADMIN CONTROLS</a>
      <ul class="sub-menu">
       <li><a href="/students">Menu 1</a></li>
       <li><a href="/admin/reports/">Students List</a>
        <ul>
        <li><a href="/students/details">View Student Info</a></li>
        <li><a href="/students">View Students List</a></li>
      <li><a href="/admin/reports/update">Update Students List</a></li>
        </ul>
       </li>
       </ul>
      </li>

      <li><a  href="#"><i class="icon-bullhorn"></i>DEVELOPER'S BLOG</a></li>
      <li><a  href="/contact"><i class="icon-envelope-alt"></i>CONTACT</a></li>
      <div class="col-xs-1 col-sm-1 col-md-1 pull-right btn-group w3-show-inline-block">
      <button class="col-xs-6 col-sm-6 col-md-6 w3-btn w3-teal n_btn" data-toggle="modal" data-target="#myModal">Login</button>
      </div>
    </ul>

  </nav>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4 class="modal-title col-xs-10 col-sm-10 col-md-10" id="myModalLabel">Log in</h4>
          <button type="button" class="close col-xs-2 col-sm-2 col-md-2" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
      </div> <!-- /.modal-header -->

      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control " id="uLogin" placeholder="Login">
              <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
            </div>
          </div> <!-- /.form-group -->

          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" id="uPassword" placeholder="Password">
              <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
            </div> <!-- /.input-group -->
          </div> <!-- /.form-group -->

          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div> <!-- /.checkbox -->
        </form>

      </div> <!-- /.modal-body -->

      <div class="modal-footer">
        <button class="form-control btn btn-primary">Ok</button>

        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">progress</span>
          </div>
        </div>
      </div> <!-- /.modal-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        
 </div><!--end mainWrap-->
 <style type="text/css">
 .close{
    margin-top: 0px !important;
 }
   .n_btn{
    margin-top:2px !important; 
    width: 100%;
    text-align: center;
   }

  .modal-dialog {
      width: 300px;
  }
  .modal-footer {
      height: 70px;
      margin: 0;
  }
  .modal-footer .btn {
      font-weight: bold;
  }
  .modal-footer .progress {
      display: none;
      height: 32px;
      margin: 0;
  }
  .input-group-addon {
      color: #fff;
      background: #3276B1;
  }

 </style>

 <script type="text/javascript">
   
$(document).ready(function(){
    $('.modal-footer button').click(function(){
    var button = $(this);

    if ( button.attr("data-dismiss") != "modal" ){
      var inputs = $('form input');
      var title = $('.modal-title');
      var progress = $('.progress');
      var progressBar = $('.progress-bar');

      inputs.attr("disabled", "disabled");

      button.hide();

      progress.show();

      progressBar.animate({width : "100%"}, 100);

      progress.delay(1000)
          .fadeOut(600);

      button.text("Close")
          .removeClass("btn-primary")
          .addClass("btn-success")
            .blur()
          .delay(1600)
          .fadeIn(function(){
            title.text("Log in is successful");
            button.attr("data-dismiss", "modal");
          });
    }
  });

  $('#myModal').on('hidden.bs.modal', function (e) {
    var inputs = $('form input');
    var title = $('.modal-title');
    var progressBar = $('.progress-bar');
    var button = $('.modal-footer button');

    inputs.removeAttr("disabled");

    title.text("Log in");

    progressBar.css({ "width" : "0%" });

    button.removeClass("btn-success")
        .addClass("btn-primary")
        .text("Ok")
        .removeAttr("data-dismiss");
                
  });
});
    
    
    
    
    
    
    
    
    
    
    
    


 </script>